/*改header背景顏色*/
.nextra-nav-container {
  background-color: #5b67a2;
  opacity: 1.0;
  color:#ffffff;
}
.nextra-nav-container-blur{
  background-color: #5b67a2;
  opacity: 1.0;
}
/*改header文字(正常、hover)顏色*/
.nx-text-gray-600 {
  color: #ffffff;
}
.hover\:nx-text-gray-800:hover {
  --tw-text-opacity: .75;
  color: rgba(255,255,255,var(--tw-text-opacity));
}
/*改header搜尋框(正常、點擊後)顏色*/
.nx-bg-black\/\[\.05\] {
  background-color: #ffffff;
  opacity: 0.75;
}
.focus\:nx-bg-white:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,1.0);
  opacity: 1.0;
}
/*改footer背景顏色*/
.nx-bg-gray-100 {
  background-color: #5b67a2;
}
/*改版面大小*/
/* .nx-px-6 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.md\:nx-px-12 {
  padding-left: 0rem;
  padding-right: 0rem;
} */
/*改廣告看板背景顏色*/
.slide-background{
  background-color: #5b67a2;
  opacity: 1.0;
  width: calc(100%);
  padding:2px;
}